@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gruppo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  letter-spacing: 0px !important;
}
/* common css start */

.section-title {
  font-size: 52px;
  padding: 100px 0px 0px 0px;
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
  font-weight: 900;
  background-color: transparent;
  background-image: linear-gradient(155deg, #00a5f9 30%, #ff9900 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
/* 00A5F9 */
.section-discription {
  font-weight: 400;
  text-align: center;
  font-size: 23px;
  width: 70%;
  margin: 0px auto;
}

/* header Styling */
.header {
  background-color: transparent;
  background-image: radial-gradient(at center right, #ff9900 -15%, #00a5f9 65%);
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -50px;
  margin-bottom: 0px;
  z-index: 20;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  color: #fff;
}
.header-content h1 {
  font-size: 42px;
  line-height: 50px;
  font-weight: 900;
  letter-spacing: 1px;
  width: 70% !important;
  position: relative;
  letter-spacing: 4px;
  width: 60% !important;
}

.header-content h2 {
  font-size: 32px;

  font-weight: 900;
  letter-spacing: 4px;
  width: 60% !important;
}

.header-content p {
  font-size: 20px;
  width: 65%;
  line-height: 40px;
}

.header-content button {
  background: #ff9900;
  color: black;
  padding: 10px 30px;
  border: 1px solid #ffffff00;
  font-weight: 600;
  border-radius: 5px;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.header-content button:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

/* header Styling */
/* top up  second section */
.second-section-title-group {
  padding-bottom: 100px;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
  padding: 50px 0px;
}

.links {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.second-section-card {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
}

.second-section-card-second {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: start;
  gap: 50px;
}
.second-section-card-img-box {
  width: 50%;
  height: 500px;
  box-shadow: 10px 10px 5px 0px #ff9900;
  -webkit-box-shadow: 10px 10px 5px 0px #ff9900;
  -moz-box-shadow: 10px 10px 5px 0px #ff9900;
  transition: all 0.5s ease-in-out;
}
.second-section-card:hover .second-section-card-img-box,
.second-section-card-second:hover .second-section-card-img-box {
  box-shadow: none; /* Reset the box-shadow */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  transition: all 0.5s ease-in-out;
}
.second-section-card:hover .second-section-card-img-box img,
.second-section-card-second:hover .second-section-card-img-box img {
  box-shadow: 15px -14px 5px 0px rgba(255, 153, 0, 0.75);
  -webkit-box-shadow: 15px -14px 5px 0px rgba(255, 153, 0, 0.75);
  -moz-box-shadow: 15px -14px 5px 0px rgba(255, 153, 0, 0.75);
  transition: all 0.5s ease-in-out;
}

.second-section-card-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second-section-card-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second-section-card-container {
  color: #000;
  width: 50%;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.second-section-card-container h3 {
  font-weight: 700;
  font-size: 32px;
  background-color: transparent;
  background-image: linear-gradient(155deg, #00a5f9 60%, #ff9900 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Inter";
  -webkit-text-fill-color: transparent;
}

.second-section-card-container p {
  font-size: 20px;
  color: lightslategray;
}

.second-section-card-container button {
  background: #ff9900;
  border: none;
  color: #fff;
  padding: 10px 30px;
  border: 1px solid #ffffff00;
  font-weight: 600;
  border-radius: 40px;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.second-section-card-container button:hover {
  border: 1px solid #ff9900;
  background: transparent;
  color: #ff9900;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

/* top up  second section */

/* third section  */
.third-section-title-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.third-section-card-two {
  background-color: transparent;
  background-image: radial-gradient(at top right, #ff9900 0%, #04496b 77%);
  color: white;
  height: 100%;
  border: none !important;
  text-align: start !important;
  align-items: start !important;
  padding: 40px !important;
}

.third-section-card-two h2 {
  font-weight: 700;
}

.third-section-card-two p {
  font-size: 20px;
}

.third-section-card-two button {
  background-color: #ff9900;
  border: 1px solid #ff9900;
  color: #fff;
  padding: 10px 25px;
  border-radius: 40px;
  transition: all 0.5s ease-in-out;
}
.third-section-card-two button:hover {
  background-color: transparent;
  border: 1px solid #ff9900;
  color: #ff9900;
  padding: 10px 25px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.third-section-title-box .section-title {
  width: 50%;
  padding: 0px;
  text-align: start;
  font-family: "Inter";
  letter-spacing: 0;
}

.third-section-title-box .third-section-title-description {
  width: 50%;
  font-size: 20px;
}

.third-section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 100px 0px;
  height: 100%;
}

.third-section-card-two {
  grid-column: span 2;
  height: 100%;
}

.third-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid #00000036;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transition: all 1s ease-in-out;
  height: 300px;
}

.third-section-card i {
  text-align: center;
  background-color: #ff9900b6;
  padding: 20px;
  border-radius: 100%;
  font-size: 20px;
}

.third-section-card:hover {
  border: 2px solid #ff9900;
}

.third-section-card .third-card-icons {
  position: absolute;
  top: 10px;
  transition: top 0.5s ease-in-out;
}

.third-section-card:hover .third-card-icons {
  top: -70px;
  transition: top 0.5s ease-in-out;
}

.third-section-content {
  padding-top: 80px;
  transition: padding-top 0.5s ease-in-out;
}

.third-section-card:hover .third-section-content {
  padding-top: 40px;
  transition: padding-top 0.5s ease-in-out;
}

.third-section-content h2 {
  font-size: 20px;
  font-weight: 700;
}
/* third section  */
/* footer */
footer {
  position: relative;
  background-color: #00a5f9;
  width: 100%;
  padding: 150px 0px 20px 0px;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.container {
  height: 100%;
}

.footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
  color: #000;
}
.footer h2 {
  font-size: 42px;
  width: 70%;
  font-weight: 700;
}
.footer p {
  font-size: 22px;
  width: 50%;
}
.footer-icons {
  display: flex;
  align-items: center;
  font-size: 32px;
  gap: 20px;
}
.footer-icons i {
  color: #002fff;
  transition: all 0.5s ease-in-out;
}
.footer-icons i:hover {
  color: #010d3f;
  transition: all 0.5s ease-in-out;
}
.footer button {
  background-color: #ff9900;
  border: none;
  color: #000;
  padding: 10px 30px;
  border: 1px solid #ffffff00;
  font-weight: 600;
  border-radius: 40px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.footer button:hover {
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
}

/* footer */

@media screen and (min-width: 0px) and (max-width: 750px) {
  /* common css */
  .section-title {
    font-size: 32px;
    margin: 0px;
    padding: 20px 10px;
  }

  .section-discription {
    font-size: 16px !important;
    width: 100%;
    margin: 0px;
    padding: 0px 10px;
  }

  /* common css */
  .header {
    background-size: cover;
    background-attachment: local;
    width: 100%;
    height: 100%;
    padding: 40px 10px;
  }

  .header-content {
    padding: 50px 15px;
  }

  .header-content h1 {
    font-size: 26px;
    font-weight: 600;
    line-height: normal;

    letter-spacing: 1px;
    width: 100% !important;
  }

  .header-content h2 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100% !important;
    line-height: normal;
  }

  .header-content p {
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    line-height: normal;
  }

  .header-content button {
    font-size: 16px;
  }

  /* second section */
  .second-section {
    margin: 0px;
    padding: 0px;
  }

  .second-section-card {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: justify;
  }

  .second-section-card-img-box {
    width: 100%;
    height: 100%;
  }

  .second-section-card-container {
    width: 100%;
    padding: 20px 10px;
  }

  .second-section-card-second {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .second-section-card-container {
    justify-content: start;
    align-items: start;
  }

  .second-section-card-container h3 {
    font-weight: 600;
    font-size: 17px;
  }

  .second-section-card-container p {
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
  }
  .second-section-card-container button {
    font-size: 16px;
  }
  /* second section */

  .section {
    padding: 0px;
  }

  .section h1 {
    padding: 0px;
    width: 80%;
    margin: 0px auto;
  }

  .section p {
    padding: 0px;
    padding-bottom: 10px;
    width: 100%;
    margin: 0px auto;
    color: #ffffffcc;
  }

  .addressing-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0px;
  }
  .third-section-title-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }
  .third-section-title-box .section-title,
  .third-section-title-box .third-section-title-description {
    width: 100%;
  }
  .third-section-title-box .third-section-title-description {
    font-size: 16px;
  }
  .third-section-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .third-section-card-two {
    grid-column: span 1;
    height: 100%;
    display: block;
  }
  /* bake face  */

  footer {
    padding: 120px 0px 40px 0px;
  }

  .footer h2 {
    font-size: 32px;
    width: 100%;
    font-weight: 700;
  }
  .footer p {
    font-size: 18px;
    width: 100%;
  }

  .footer button {
    font-size: 16px;
  }

  /* footer */
}
@media screen and (min-width: 751px) and (max-width: 1050px) {
  /* common css */
  .section-title {
    font-size: 36px;
  }

  .section-discription {
    font-size: 18px !important;
  }

  /* common css */
  .header {
    padding: 40px 10px;
  }

  .header-content {
    padding: 50px 15px;
  }

  .header-content h1 {
    font-size: 32px;
    line-height: normal;
    letter-spacing: 1px;
    width: 100% !important;
  }

  .header-content h2 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100% !important;
    line-height: normal;
  }

  .header-content p {
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    line-height: normal;
  }

  .header-content button {
    font-size: 18px;
  }

  /* second section */
  .second-section {
    margin: 0px;
    padding: 0px;
  }

  .second-section-card {
    width: 100%;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: justify;
  }

  .second-section-card-img-box {
    width: 100%;
    height: 100%;
  }

  .second-section-card-container {
    width: 100%;
    padding: 20px 10px;
  }

  .second-section-card-second {
    justify-content: start;
    align-items: start;
  }

  .second-section-card-container {
    justify-content: start;
    align-items: start;
    padding-top: 0px;
  }

  .second-section-card-container h3 {
    font-weight: 600;
    font-size: 17px;
  }

  .second-section-card-container p {
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
  }
  .second-section-card-container button {
    font-size: 16px;
  }
  /* second section */

  .section {
    padding: 0px;
  }

  .section h1 {
    padding: 0px;
    width: 80%;
    margin: 0px auto;
  }

  .section p {
    padding: 0px;
    padding-bottom: 10px;
    width: 100%;
    margin: 0px auto;
    color: #ffffffcc;
  }

  
  .third-section-title-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }
  .third-section-title-box .section-title,
  .third-section-title-box .third-section-title-description {
    width: 100%;
  }
  .third-section-title-box .third-section-title-description {
    font-size: 16px;
  }
  .third-section-grid {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
  }
  .third-section-card-two {
    grid-column: span 2;
    height: 100%;
    display: block;
  }
  /* bake face  */

  footer {
    padding: 120px 0px 40px 0px;
  }

  .footer h2 {
    font-size: 32px;
    width: 100%;
    font-weight: 700;
  }
  .footer p {
    font-size: 18px;
    width: 100%;
  }

  .footer button {
    font-size: 16px;
  }

  /* footer */
}
